.topproduct {
  font-size: 25px;
  text-align: left;
  /* padding-bottom: 15px; */
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
  margin-top: 0px;
  color: #000;
  font-weight: lighter;
  font-family: robotomedium, Arial, sans-serif;
}
.topproduct span a {
  text-align: center;
  margin-right: 30px;
  padding-top: 20px;
}
span a {
  font-family: robotomedium, Arial, sans-serif;
  font-size: 14px;
  float: right;
  color: #3c3a98;
}
